

header {color:yellow;
    border:solid black;
    margin:auto;
    width:100%;
    
    background-color: red;
    
}

body{
    display: flex;
    flex-direction: row;
    background-color: red;
    border:inset; border-color:black; 

    
}
p {font-family: Verdana, sans-serif;
    color: yellow;
    font-variant: small-caps;}
section img {  
    transition: .8s opacity;
  } 
  
  section:hover img { opacity: 0.3; }
  section:hover img:hover { opacity: 1; } 

h1 {
    text-align: center
}
    
    
    









@media (max-width: 400px){
    body{flex-direction:column;
    }

section {display:flex;
flex-flow:row wrap;
width:100%}
 section img {  
    transition: .8s opacity;
  } 
  
  section:hover img { opacity: 0.3; }
  section:hover img:hover { opacity: 1; } 
img {width: 45%;
margin:5px
}
} 

